.componentDiv {
    background-color: hsl(0, 0%, 90%);
    display: inline-block;
    /* border: 1px solid black; */
    height: auto;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
}

.componentDiv:hover {
    background-color: hsl(0, 0%, 80%);
}

.componentActiveDiv {
    background-color: hsl(0, 0%, 80%);
    display: inline-block;
    /* border: 1px solid black; */
    height: auto;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

.componentTile {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
}

.icon {
    padding-right: 2%;
}

.name {
    padding-left: 2%;
}

.subComponentDiv {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.open {
    max-height: 500px;
}

.subcomponentList {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}




.serverDiv {
    background-color: hsl(0, 0%, 90%);
    display: flex;
    border: 1px solid hsl(0, 0%, 90%);
    height: auto;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    margin: 5px;
    padding-left: 1%;
    cursor: pointer;
    width: auto;
}

.serverDiv:hover {
    background-color: hsl(0, 0%, 85%);
}