/* h1 {
    color: white;
} */

.componentDiv {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 70%);
    border-top: 0;
    box-sizing: border-box;
    box-shadow: 100px 10px 10px rgba(0, 0, 0, 0.1);
}